version: "3.9"

services:

  gateway:
    image: traefik:v3.0
    command:
      - "--configFile=/traefik.yml"
    volumes:
      - ./gateway/traefik.yml:/traefik.yml
      - /var/run/docker.sock:/var/run/docker.sock:ro
    networks:
      - reseaux-net

  auth:
    networks:
      - reseaux-net

  postgres:
    image: postgres:16
    env_file:
      - .env
    volumes:
      - ./volumes/postgres:/var/lib/postgresql/data
    networks:
      - reseaux-net

  minio:
    image: minio/minio
    command: server /data --console-address ":9001"
    env_file:
      - .env
    volumes:
      - ./volumes/minio:/data
    networks:
      - reseaux-net

  prometheus:
    image: prom/prometheus
    volumes:
      - ./monitoring/prometheus.yml:/etc/prometheus/prometheus.yml
    networks:
      - reseaux-net

  grafana:
    image: grafana/grafana
    volumes:
      - ./volumes/grafana:/var/lib/grafana
      - ./monitoring/grafana:/etc/grafana/provisioning
    networks:
      - reseaux-net

networks:
  reseaux-net:
    driver: bridge
